.todoitem {
  display: flex;
  padding: 0px;
  margin:0px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 8px;
  text-align: right;
}

.todos-container {
  border: solid 1px rgb(3, 3, 70);
  height: fit-content;
  margin: 10px;
  padding: 20px;
}

h2 {
  flex: 1;
  padding: 1;
  margin: 4px;
  margin-right: 10px;
  font-size: 1.2rem;
  color:black;
  display: flex;
  
}

.delete {
  justify-items: center;
  align-content: flex-start;
  margin: 5px;
  border:none;
  color: rgba(255, 0, 0, 0.623);
  font-size: 1.3rem;
  background-color: white;
}

.textinput{
border:none;
padding: 10px;
width:100%;
font-size: 1rem;
}

.textinput:focus{

outline:none;

}